/hydrogen2-example/node_modules
hydrogen2-example/.cache
hydrogen2-example/build
hydrogen2-example/dist
hydrogen2-example/public/build
hydrogen2-example/.mf
hydrogen2-example/.env
hydrogen2-example/.shopify